body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

.dfn:first-child {
  background-color: #eee8d5;
}

#contents, #favs, #facts {
  color: #93a1a1;
}

.dfn {
  background-color: #b58900;
}

.dfn p + strong {
  color: #fff;
}

mark {
  background-color: #719e07;
}

li a[rel="external"] { /** Select when an attribute that’s exactly the same **/
  background-color: #2694d8;
}

ol li:first-of-type { /** matches every element that is the first child, of a particular type, of its parent **/
  color: #719e47;
}

ol li:last-of-type { /** matches every element that is the last child, of a particular type, of its parent **/
  color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}

.types li:nth-child(3n+3) {
  background-color: #d04b16;
}
